<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<script src="bower_components/angular/angular.js"></script>
		<script src="app.js"></script>
	<title>Stock Sim</title>
</head>
<body>
	<h1>Stock Sim</h1>
	<div ng-controller="FormController as ctrl">

		<input name="stockSymbolInput" type="text" ng-model="stocksymbol.symbol" placeholder="Enter a Stock Symbol">

		<button ng-click="inputStockSymbol()">Search</button>

	</br>

		<div ng-if="retrievedData.name">
			{{ retrievedData.name }}
		</div>

		<div ng-if="retrievedData.price">
			{{ retrievedData.price | currency }}
		</div>

		<div ng-show="state">
			<input name="shareBuyInput" type="number" ng-model="numShares" placeholder="Enter Number of Shares">

			<button ng-click="buyShares()">BUY</button>
		</div>

		<div ng-if="portfolio.length > 0">
			<div ng-repeat="item in portfolio">
				{{ item.name }}
			</div>
		</div>

	</div>
</body>
</html>