<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<script src="bower_components/angular/angular.js"></script>
		<script src="app.js"></script>
	<title>Stock Sim</title>
</head>
<body>
	<h1>Stock Sim</h1>
	<div ng-controller="FormController as ctrl">

		<input name="stockSymbolInput" type="text" ng-model="stocksymbol.symbol" placeholder="Enter a Stock Symbol">

		<button ng-click="getStockData()">Search</button>

	</br>

		<div ng-if="stockData.name">
			{{ stockData.name }}
			{{ stockData.price | currency }}
		</div>

		<div ng-show="searchTermExists">
			<input name="shareBuyInput" type="number" ng-model="numShares" placeholder="Enter Number of Shares">

			<button ng-click="buyShares()">BUY</button>
		</div>

		<div ng-if="portfolio.length > 0">
			<p>Portfolio</p>
			<a>Company</a>
			<a>Shares</a>
			<a>Share Price</a>
			<a>Total</a>
			<div ng-repeat="item in portfolio">
			
				{{ item.shares }}
				
				{{ item.symbol }}
			
				{{ item.sharePrice | currency }}
			
				{{ item.total | currency }}

			</div>

			<a>Total Value of Portfolio:</a>

				{{ portfolioTotalValue | currency }}
			</br>
			<button ng-click="updatePortfolioToMarketValue()">Check Portfolio Performance</button>

		</div>
	</div>
</body>
</html>